# git ignore for March Madness

# ignore all files associated with Python venv
bin/*
include/*
lib/*
lib64
pyvenv.cfg
etc/*
pip-selfcheck.json
share/*
.ipynb_checkpoints/*


# ignore zipped files
*.zip